<h1>{{title}}</h1>
<form>

    
    <label for ="txtName">Nombre</label>
    <input id="txtName" name ="txtName"[(ngModel)]="products.name"/><br/>
    <label for ="txtPrice">Precio</label>
    <input id="txtPrice" name ="txtPrice"[(ngModel)]="products.price"/><br/>
    <label for ="txtCategori">Categoria</label>
    <input id="txtCategoria" name ="txtCategoria" [(ngModel)]="products.categoria"/><br/>
    <label for ="txtStock">Stock</label>
    <input id="txtStock" name ="txtStock" [(ngModel)]="products.Stock"/><br/>
</form>
<button (click)="goListProducts()">Listado de productos</button>
